@font-face {
    font-family: 'custard';
    src: url('custard.woff2') format('woff2'),
        url('custard.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

