@font-face {
    font-family: 'Open Gorton';
    src: url('OpenGorton-Regular.woff2') format('woff2'),
        url('OpenGorton-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

